.body-main {
  width: auto;
  height: auto;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
}

.register-img {
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  padding-left: 0px;
}

.main-container {
  padding: 0;
}

.container-img {
  background: #fffbf1;
}

.alert-message {
  color: #ff0000;
}
